.env
./finguardai
.env.*
!.env.example
env.txt
*./__pycache__/
.pytest_cache/
*.py[cod]
/backend/app/__pycache__
/backend/app/models/__pycache__
/backend/data_gen/etl/__pycache__
frontend/node_modules/
frontend/dist/
ml/artifacts/
ai/index/
*.egg-info/
